{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Prep</title>
    <link rel="stylesheet" href="{% static 'prep/style.css' %}">
</head>
<body>

    {% comment %} header {% endcomment %}
    {% include "includes/header.html" %}

    {% block content %}

    {% endblock content %}

    {% comment %} footer {% endcomment %}
    {% include "includes/footer.html" %}
</body>
<script>
function confirmLogout() {
    return confirm("Are you sure you want to logout?");
}
</script>
</html>